{
  "image_configuration": {
    "images": {
      "appstore-label.png": {
        "format": "L8_ARGB8888"
      },
      "bg-image.png": {
        "format": "L8_RGB565"
      },
      "frame-top-left.png": {
        "layout_rotation": "0"
      },
      "google-play-label.png": {
        "format": "L8_ARGB8888"
      },
      "gray-adjust-back.png": {
        "format": "RGB565"
      },
      "green-toggle-off.png": {
        "format": "L8_ARGB8888"
      },
      "green-toggle-on.png": {
        "format": "L8_ARGB8888"
      },
      "ic-40-lightness-grey.png": {
        "format": "L8_ARGB8888"
      },
      "ic-40-lightness.png": {
        "format": "L8_ARGB8888"
      },
      "ic-40-speed-grey.png": {
        "format": "L8_ARGB8888"
      },
      "ic-40-speed.png": {
        "format": "L8_ARGB8888"
      },
      "logo-circle-grey.png": {
        "format": "L8_ARGB8888"
      },
      "logo-circle.png": {
        "format": "L8_ARGB8888"
      },
      "logos-group-1.png": {
        "format": "RGB565"
      },
      "slider-oval.png": {
        "format": "L8_ARGB8888"
      },
      "slider-oval2x.png": {
        "format": "L8_ARGB8888"
      },
      "slider-speed-bg.png": {
        "format": "L8_ARGB8888"
      },
      "slider-speed-front.png": {
        "format": "RGB565"
      },
      "small-logo-x2.png": {
        "format": "L8_ARGB8888"
      },
      "small-logo.png": {
        "format": "L8_ARGB8888"
      },
      "speed-image-large.png": {
        "format": "RGB565"
      },
      "strength-image-large.png": {
        "format": "RGB565"
      },
      "switch.png": {
        "format": "RGB565"
      },
      "toggle-off.png": {
        "format": "L8_ARGB8888"
      },
      "toggle-on.png": {
        "format": "L8_ARGB8888"
      },
      "top-figure-1.png": {
        "format": "L8_ARGB8888"
      }
    },
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16"
  }
}